body {
  margin: 0;
  background-color: #addefa;
}

h1 {
  color: blue;
  font-size: 100px;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  color: red;
  font-size: 100px;
  margin: 0;
  font-family: "Architects Daughter", cursive;
}

h3 {
  color: skyblue;
  font-size: 150px;
  margin: 50px;
  font-family: fantasy;
}

#page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#monky {
  height: 100%;
  width: 100%;
  transition: 3s;
}

#monky:hover {
  transform: scale(.01);
}

#row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: baseline;
}

.Gulddame {
  height: 400px;
  transition: 5s;
}

.Gulddame:hover {
  transform: rotate(360deg);
}

#knap {
  background-color: snow;
  margin: 5px;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px;
  transition: .5s;
}

#knap:hover {
  transform: scale(2);
}


#qq {
  font-family: 'Rock Salt', cursive;
font-size: 50px;
text-align: center;
}