html{
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("background.jpg");
}

/* Set default margin and padding */
*:before,*,*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: white;
  text-decoration: none;
  text-emphasis: none;
  margin: 0 0.7rem;
}

.navbar{
  background-color: rgb(58, 64, 64);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 100%;
}

.navbar-title{
  padding: 1rem 0;
  color: white;
}

.container{
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.row-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.resume-box{
padding: 1rem;
}

.resume-box-title{
  font-size: 2rem;
 text-decoration: underline;
  padding: 1.5rem 0;
}

.resume-box-p{
  margin: 0.5rem 0 ;
}

.resume-img{
margin: 3rem;
border-radius: 50%;
height: 15rem;
}

.contact-links{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 3rem;
}

@media screen and (max-width: 780px) {
  .body{
    grid-template-columns: 1fr;
  }
}